@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
.color-0 {
    color: #ffffff;
}

.color-1 {
    color: #ff4444;
}

.color-2 {
    color: #99cc00;
}

.color-3 {
    color: #ffbb33;
}

.color-4 {
    color: #0099cc;
}

.color-5 {
    color: #33b5e5;
}

.color-6 {
    color: #aa66cc;
}

.color-8 {
    color: #cc0000;
}

.color-9 {
    color: #777777;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.no-grow {
    flex-grow: 0;
}

em {
    font-style: normal;
}

#app {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    background-color: transparent;
}

.chat-window {
    position: absolute;
    padding top: 2.5%;
    left: 15px;
    width: 50%;
    height: 530px;
    max-width: 550px;
    background-color: rgba(255, 255, 255, 1.0);
    border-radius: 80px;
    -webkit-animation-duration: 2s;
}

.chat-messages {
    position: relative;
    height: 100%;
    font-size: 1.3vh;
    margin: 1%;
    padding: 5%;
    border-radius: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.chat-input {
    font-size: 1.5vh;
    position: absolute;
    top: 25.5%;
    left: 0.8%;
    width: 38%;
    max-width: 1200px;
    box-sizing: border-box;
}

.prefix {
    font-size: 1.8vh;
    position: absolute;
    margin-top: 0.5%;
    left: 0.208%;
}

textarea {
    font-size: 1.5vh;
    display: block;
    box-sizing: border-box;
    padding-top: 1.1%;
    padding-left: 3.4%;
    padding-bottom: 1.4%;
    padding-right: 1.6%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.8);
    width: 75%;
    border: 1px solid rgba(0, 119, 255, 0.9) inset;
    border-radius: 2px;
    height: 3.05%;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: none;
    box-shadow: 4px 0px 0px 0px rgba(0, 119, 255, 0.9) inset;
}

textarea:focus,
input:focus {
    outline: none;
    box-shadow: 4px 0px 0px 0px rgba(0, 119, 255, 0.9) inset;
}

.msg {
    margin-bottom: 5px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.multiline {
    margin-left: 4%;
    text-indent: -1.2rem;
    white-space: pre-line;
    box-shadow: 8px 1px 1px 1px rgba(0, 119, 255, 0.9) inset;
}

.suggestions {
    list-style-type: none;
    padding: 5px;
    padding-left: 27px;
    font-size: 0.9rem;
    box-sizing: border-box;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    border: 0px solid rgba(128, 128, 128, 0.9);
    width: 75%;
}

.help {
    color: #b0bbbd;
}

.disabled {
    color: #b0bbbd;
}

.suggestion {
    margin-bottom: 0.5%;
}

.forceHidden {
    opacity: 0.0 !important;
    visibility: none !important;
}

.hidden {
    display: none;
}